<h1>Banque</h1>

<body>

  <div class="balance" id="total-balance"><%= Account.total_balance %></div>

  <div id="content">
      <input id="add-account" type="button" value="Add Account" />
      <input id="deposit" type="button" value="Deposit" />
      <input id="withdraw" type="button" value="Withdraw" />
      <input id="transfer" type="button" value="Transfer" />
    </div>
  </div>

</body>